.navbar{ 
  float:right; 
  display:block; 
  text-align: right; 
}

h1 {
  color: gray;
  border: 2px solid gray;
  padding: 10px;
}

h3 {
  color: gray;
  border: 2px solid gray;
  padding: 10px;
}

.sidebar {
  float: left;
  width: 20%;
  background-color: gray;
}